In [1]:
import pandas as pd

In [3]:
import requests

In [4]:
auth_tokn=requests.get('https://api.jobdiva.com/api/authenticate',
                      params={'clientid':1245,
                              'username':'jobdiva.api@cogentinfo.com',
                             'password':'Pass@001'})

In [6]:
tokn=auth_tokn.text

csrf=requests.get('https://api.jobdiva.com/csrf')
csrf=csrf.text[10:46]


hdr={'Authorization':tokn,
        'X-CSRF-TOKEN': csrf}

In [7]:
hdr

{'Authorization': 'eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJqb2JkaXZhLmFwaUBjb2dlbnRpbmZvLmNvbSIsImV4cCI6MTY2MzE2MDgwNSwiaWF0IjoxNjYzMDc0NDA1fQ.9a_TRTkSQHkE3Cla5mWJwL8rEU2Nx2NnnH3-IGpsrbDDiR-mk2nCbGtx4BvvtE_Vl-o3NLgHplT-oK5Uk37bCA',
 'X-CSRF-TOKEN': 'd933b2d5-17eb-455e-88b1-5dda2770da46'}

In [17]:
skill='.Net'
quoted_skill=str(skill)
    #skill='.Net'
print(skill)
urlquery='https://api.jobdiva.com/api/jobdiva/searchCandidateProfile?maxreturned=10&candidateQuals={"catId": 28,"dcatNames": "'+quoted_skill+'"}'

.Net

In [18]:
search_cand_prfl=requests.post(urlquery,
                                  headers=hdr
                                  #params=parms,
                                  #params=payload

                           )

In [19]:
#search_cand_prfl.content

In [20]:
#from io import BytesIO

In [21]:
searched_cand=pd.read_json(BytesIO(search_cand_prfl.content),orient='records')

#searched_cand=pd.DataFrame(pd.read_json(search_cand_prfl.text),index=[0])

In [22]:
df1 = searched_cand.replace({r'\s+$': '', r'^\s+': ''}, regex=True).replace(r'\n',  ' ', regex=True)

In [23]:

df1

,id,first name,middle initial,last name,email,alternate email,address1,address2,city,state,zipcode,country,phone 1,phone 2,phone 3,phone 4,available,redacted,status
0,215422831111,Adekunle,NaN,Adefela,adefelak@gmail.com,None,None,NaN,Roseville,CA,78681.0,US,Work Phone: ext(),Home Phone: ext(),Mobile Phone: 9167986482 ext(),Home Fax: ext(),True,0,0
1,9159254137246,Adil Nawaz,NaN,Syed,adil133k@gmail.com,None,None,NaN,Irving,TX,NaN,US,Work Phone: ext(),Home Phone: ext(),Mobile Phone: 9706289014 ext(),Home Fax: ext(),True,0,0
2,8843978364545,Ankita,NaN,Chauhan,ankitachauhan166@gmail.com,None,None,NaN,None,None,NaN,US,Work Phone: ext(),Home Phone: ext(),Mobile Phone: 5714843899 ext(),Home Fax: ext(),True,0,0
3,8772370011200,Anoop Reddy,NaN,Katnapalli,reddy.katnapalli@gmail.com,None,None,NaN,Houston,TX,46614.0,US,Work Phone: ext(),Home Phone: ext(),Mobile Phone: 8018842715 ext(),Home Fax: ext(),True,0,0
4,6971761974239,Chandrakanth,NaN,Veggalam,cveggalam@yahoo.com,humac.sales@gmail.com,None,NaN,Phoenix,AZ,85004.0,US,Work Phone: ext(),Home Phone: ext(),Mobile Phone: 6233631589 ext(),Home Fax: ext(),True,0,0
5,433465119285,David,NaN,Whiting,aschloch0166@aim.com,None,None,NaN,San Ramon,CA,NaN,US,Work Phone: 6196091408 ext(),Home Phone: ext(),Mobile Phone: 9255486276 ext(),Home Fax: ext(),True,0,0
6,9799784335157,Dinah Evonne,NaN,Sabbe,des310870@gmail.com,None,None,NaN,Pittsburgh,PA,15202.0,US,Work Phone: ext(),Home Phone: ext(),Mobile Phone: 4842430785 ext(),Home Fax: ext(),True,0,0
7,6787860834270,Geetika,NaN,Chillara,geetikach03@gmail.com,None,None,NaN,Orlando,FL,NaN,US,Work Phone: ext(),Home Phone: ext(),Mobile Phone: 6823092282 ext(),Home Fax: ext(),False,0,0
8,6847243716245,Gowthami,NaN,Dasireddy,Dasireddy.Gowthami@gmail.com,None,2534 River Ridge,NaN,Missouri City,TX,77459.0,US,Work Phone: ext(),Home Phone: ext(),Mobile Phone: 8327697273 ext(),Home Fax: ext(),True,0,0

In [ ]:
#Use this /api/bi/CandidateResumesDetail
# to pull CandidateResumesDetail